@font-face {
  font-family: minecraft-italic;
  src: url(../fonts/MinecraftItalic-R8Mo.otf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  /*  */
  position: relative;
  overflow: auto;
}

.container {
  margin: auto;
  font-family: var(--font);
  position: absolute;
  width: var(--width);
  width: 1350px;
  display: flex;
}
nav{
  background-color: black;
  height: 100vh;
  width: 20%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  align-items: center;
}
.tools-tiles-container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns-container{
  height: 20%;
  width: 100%;
}
.btn{
  font-family: minecraft-italic;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
}
main{
  width: 90%;
  display: inline-block;
}
.board{
  height: 100vh;
  width: 100vh;
  margin: auto;
  border: #fff solid 1px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: #8DBFFF;
}
.board > div{
  border: transparent solid 1px;
  margin: -1px;
}
.board > div:hover{
  border: #fff solid 1px;
  margin: -1px;
}

/* celles & tiles */
.ground{
  background: url(../img/tiles/soil.jpg) no-repeat center center/cover;
}
.top{
  background: url(../img/tiles/tree-leaves.png) no-repeat center center/cover;
}
.tree{
  background: url(../img/tiles/wood2.png) no-repeat center center/cover;
}
.rock{
  background: url(../img/tiles/rock.png) no-repeat center center/cover;
}
.grass{
  background: url(../img/tiles/grass.png) no-repeat center center/cover;
}
/* tools */
.tool{
  height: 11vh;
  width: 11vh;
  padding: 5px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.axe{
  background: url(../img/tool-icons/Diamond_Axe_JE1_BE1.png) no-repeat center center/cover;
}
.pickaxe{
  background: url(../img/tool-icons/Diamond_Pickaxe_JE1_BE1.png) no-repeat center center/cover;
}
.shovel{
  background: url(../img/tool-icons/Diamond_Shovel_JE1_BE1.png) no-repeat center center/cover;
}
.tool.clicked{
  background-color: blue;
  border: 2px solid blue;
}
/* tiles */
.tile{
  height: 6vh;
  width: 6vh;
  border: 2px solid #fff;
  margin-bottom: 15px;
}
.tile.clicked{
  border: 4px solid blue;
}

.non-valid{
}
.non-valid:hover{
  border: 4px solid red !important;
}


/* phone */
.warning-message { 
  width: 100vw;
  height: 100vh;
  background-color: #000;
  padding: 15% 10%;
  display: none; 

}
.warning-message p{
  font-size: 2rem;
  line-height: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
@media only screen and (orientation:portrait){
    .container {
      display:none; 
    }
    .warning-message {
      display:block; 
    }
}
@media only screen and (orientation:landscape){
    .warning-message {
      display:none; 
    /* }
    body{
        height: 100vh;
        width: 100vw;
    }
    .container{
      height: 100vh;
      width: 100vw;
    } */
}
