@font-face {
  font-family: minecraft-italic;
  src: url(../fonts/MinecraftItalic-R8Mo.otf);
}
@font-face {
  font-family: minecraft-bold;
  src: url(../fonts/MinecraftBold-nMK1.otf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: minecraft-italic;
  color: #fff;
  overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  
  /*  */
  position: relative;
  overflow: auto;
}

.container {
  padding: 3rem;
  height: 100vh;
  margin: auto;
  font-family: var(--font);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 50%;
  height: 30%;
}
header img{
  width: 100%;
}
main{
  width: 70%;
  height: 40%;
}
main h1{
  text-align: center;
  font-family: minecraft-bold;
  font-size: 4rem;
  margin: 0;
}
main .tutorial{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .tutorial .tool{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .tutorial .tool .icon{
  width: 35%;
}
main .tutorial .tool .icon img{
  width: 100%;
}
main .tutorial .tool .icon p{
  text-align: center;
  font-size: 1.2rem;
}
main .tutorial .tool .description{
  width: 50%;
  padding-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tutorial .tool .description p{
  font-size: 2rem;
}
a {
  text-decoration: none;
  font-family: minecraft-bold;
  font-size: 3rem;
  margin-top: 2rem;
  border: 2px #fff solid;
  padding: 1.8rem 2.5rem;
  cursor: pointer;
}

/* mobile */
.warning-message { 
  width: 100vw;
  height: 100vh;
  background-color: #000;
  padding: 15% 10%;
  display: none; 

}
.warning-message p{
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

/* mobile - portrait */
@media only screen and (orientation:portrait){
    .container {
      display:none; 
    }
    .warning-message {
      display:block; 
    }
}
/* mobile: landscape */
@media only screen and (max-width: 1024px) and (orientation:landscape){
    .warning-message {
      display:none; 
    }
    .container{
      height: 100vh;
      width: 100vw;
      padding: 1rem 0;
    } 
    header{
      width: 80%;
      height: 35%;
    }
    main{
      width: 90%;
    }
    main h1{
      font-size: 2rem;
    }
    main .tutorial .tool{
      width: 30%;
    }
    main .tutorial .tool .icon{
      width: 30%;
    }
    main .tutorial .tool .icon img{
      width: 100%;
    }
    main .tutorial .tool .icon p{
      font-size: 0.8rem;
    }
    main .tutorial .tool .description{
      width: 60%;
    }
    main .tutorial .tool .description p{
      font-size: 1.3rem;
    }
    a{
      font-size: 1.3rem;
      padding: 1rem 2rem;
    }
} 