@font-face {
  font-family: minecraft-italic;
  src: url(./fonts/MinecraftItalic-R8Mo.otf);
}
@font-face {
  font-family: minecraft-bold;
  src: url(./fonts/MinecraftBold-nMK1.otf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: minecraft-italic;
  color: #fff;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 3rem;
}
header{
  width: 60%;
  height: 25%;
}
header img{
  width: 100%;
}
main{
  width: 70%;
  height: 50%;
}
main h1{
  text-align: center;
  font-family: minecraft-bold;
  font-size: 5rem;
  margin: 0;
}
main .tutorial{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .tutorial .tool{
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .tutorial .tool .icon{
  width: 45%;
}
main .tutorial .tool .icon img{
  width: 100%;
}
main .tutorial .tool .icon p{
  text-align: center;
  font-size: 1.2rem;
}
main .tutorial .tool .description{
  width: 50%;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tutorial .tool .description p{
  font-size: 2.5rem;
}
a{
  text-decoration: none;
  font-family: minecraft-bold;
  font-size: 5rem;
  margin-top: 3rem;
  border: 2px #fff solid;
  padding: 0.5rem 2rem;
  cursor: pointer;
}